    @using MVCRecordLibrary.Models
    @model IEnumerable<Album>
    

@{
    ViewBag.Title = "Home Page";
}

<h2>My Album Library</h2>


    @foreach (Album a in Model)
    {
        <ol>
            <li>@a.title  </li>
            <li>@a.artist  </li>
            <li>@a.format</li>
            <li>@a.price  <hr /> <br /> </li>
        </ol>
    }
       


